---
---

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='/style.css' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

<title>Bug House</title>

<script src="http://code.jquery.com/jquery-1.11.2.js"></script>
<script src="/audiojs/audio.min.js"></script>

	{% include script-playlist.html %}

<!-- Google Analytics -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21075964-1']);
  _gaq.push(['_setDomainName', 'missioncleaners.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>
</body>

<h1>Bug House</h1>
<h2>Poems by<br />Logan Ryan Smith</h2>
<p><a href="http://missioncleaners.com/" target="_blank">Buy the book.</a></p>
<p>&#160;</p>
<p>Recorded by phone in the summer of 2012.</p>			
<p>&#160;</p>

			<audio preload></audio>

<ol class="songs">

	{% for track in site.data.tracks %}
		<li class="song"><a href="#" data-src="{{ track.url }}"><strong>{{ track.title | markdownify }}</strong></a></li>
	{% endfor %}

</ol>

<a href="http://missioncleaners.com/" target="_blank"><h3>Mission Cleaners Books</h3></a>

<p>&#160;</p>
<p>&#160;</p>
<p align="right"><a href="/bughouse.zip">Download MP3s</a><br /><a href="http://guidebycell.com/" target="_blank">Recorded with Guide by Cell</a></p>
<p>&#160;</p>
<p>&#160;</p>

</body>
</html>
